<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CafeClient</display-name>
  <welcome-file-list>
    <welcome-file>orders.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>cs9322.cafe.control.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCancel</display-name>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>cs9322.cafe.control.OrderCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/OrderCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeOrder</display-name>
    <servlet-name>MakeOrder</servlet-name>
    <servlet-class>cs9322.cafe.control.MakeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeOrder</servlet-name>
    <url-pattern>/MakeOrder</url-pattern>
  </servlet-mapping>
</web-app>