<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CafeClient</display-name>
  <welcome-file-list>
    <welcome-file>orders.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>cs9322.cafe.control.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCancel</display-name>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>cs9322.cafe.control.OrderCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/OrderCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeOrder</display-name>
    <servlet-name>MakeOrder</servlet-name>
    <servlet-class>cs9322.cafe.control.MakeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeOrder</servlet-name>
    <url-pattern>/MakeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrder</display-name>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>cs9322.cafe.control.UpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdate</display-name>
    <servlet-name>DoUpdate</servlet-name>
    <servlet-class>cs9322.cafe.control.DoUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdate</servlet-name>
    <url-pattern>/DoUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakePayment</display-name>
    <servlet-name>MakePayment</servlet-name>
    <servlet-class>cs9322.cafe.control.MakePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePayment</servlet-name>
    <url-pattern>/MakePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOptions</display-name>
    <servlet-name>CheckOptions</servlet-name>
    <servlet-class>cs9322.cafe.control.CheckOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOptions</servlet-name>
    <url-pattern>/CheckOptions</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UpdateOrderStatus</display-name>
    <servlet-name>UpdateOrderStatus</servlet-name>
    <servlet-class>cs9322.cafe.control.UpdateOrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatus</servlet-name>
    <url-pattern>/UpdateOrderStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPayment</display-name>
    <servlet-name>CheckPayment</servlet-name>
    <servlet-class>cs9322.cafe.control.CheckPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPayment</servlet-name>
    <url-pattern>/CheckPayment</url-pattern>
  </servlet-mapping>
</web-app>